.cardWrapper {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
}

.cardWrapper img {
    width: 100%;
    height: 100%;
}

.cardWrapper:hover {
    opacity: 0.9;
    transform: scale(1.02);
    box-shadow: var(--box-blur-shadow)
}