* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

#root {
  --primary-background: #2196F3;
  --primary-background-active: #1E88E5;
  --primary-text: #fff;
  --primary-text-inactive: rgba(255, 255, 255, 0.7);
}

header {
  background-color: var(--primary-background);
  height: 64px;
  width: 100%;
  padding: 0 60px;
  display: flex;
  align-items: center;
  box-shadow: #000 0 0 4px;
}

.container {
  margin: 0 auto;
  width: 100%;
}